.navbar {
    background-image: url('../assets/icons/new ktb overview town.jpg');

    width: 100%;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
    background-position: 20%;
    background-size: 100%;
    padding: 5px 7%;

    margin-bottom: 25px;


}

.logolight {
    width: 10%;
    padding: 2%;
    padding-left: 0.5%;
    cursor: pointer;
}

ul {
    flex: 1;
    vertical-align: middle;
    padding-right: 15%;
    padding-top: 1.5%;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 15px;
    vertical-align: center;
    font-size: 22px;
    color: white;
    cursor: pointer;
}
